@{
    ViewData["Title"] = "Create Demo";
}

<form action="/Demo/Create" method="post">
    <fieldset>
        <legend>Create Demo</legend>
        <div>Name:</div>
        <input name="name", type="text" />
        <input type="submit" value="Submit" />
    </fieldset>
</form>