@using Microsoft.AspNetCore.Identity
@using Beta.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link media="all" rel="stylesheet" type="text/css" href="~/css/app.css" />
</head>
<body>
    @if (SignInManager.IsSignedIn(User)) {
        <ul>
            <li>
                <form asp-controller="Account" asp-action="LogOff" method="post">
                    <button type="submit">Log Off</button>
                </form>
            </li>
            <li>
                <a href="#" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
        </ul>
    } else {
        <ul>
            <li>
                <a asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Login">Log in</a>
            </li>
        </ul>
    }
    <div>
        @RenderBody()
        <script type="text/javascript" src="~/js/app.js"></script>
    </div>
</body>
</html>
